<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/image/weather-app.png">
    <script src="/js/app.js" defer></script>
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input type="text"placeholder="Enter the location"/>
            <button>Search</button>
        </form>

        <div>
            <p class="forecast"></p>
            <p class="location"></p>
        </div>
    </div>

    {{>footer}}
</body>
</html>